.DS_Store
Thumbs.db

wifi.h

*.elf
*.hex
*.bin
*.eep
*.map
*.d
*.o
*.a
*.lst

*~
*.swp
*.bak

build/
*.cpp.d
*.d
*.s
*.dep

.vscode/
.pio/
.clangd/
*.code-workspace

# Arduino IDE 2.x config
.arduino/

*.ino.cpp

.test
test